<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="css/meera.css">
</head>
<body>
    <div id="game">
        <div id="main">
            <div id="score"></div>
            <div id="score2"></div>
            <div id="playerOne"></div>
            <div id="centerChanger">    <div id="playerLeft">   </div>  <div id="playerRight">  </div>  <div id="BLOK">   </div>    </div>
            <div id="playerTwo"></div>
        </div>
    </div>
    <div id="ready">READY</div>
    <div id="windowsss">
        <p id="windowsssP"></p>


    </div>
    <script src="js/keyv2.js"></script>
</body>
</html>