<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

</html>
    <div>
        <% text.forEach(element => { %>
            <p class="text">
                <%= element.name + ": " + element.dataInput %> 
            </p>
                <% });%>
    </div>
    <div class="divForm">
        <form action="/submit" method="post">
            <input id="dataInput" name="dataInput">
            <input id="name" name="name">
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="divStaticForm"></div>
</body>
</html>