<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="css/lob.css">
</head>
<body>
    <div class="Mid">
        <div class="Menu">
            <div id="fir"><p>Hello</p></div>
            <a href="../mera"><div id="secon"><p id="sp">Mera</p></div></a>
            <a href="../"><div id="thir"><p id="sp">sp</p></div></a>
        </div>
    </div>
</body>
</html>