<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/meera.css">
</head>
<body>
    <div id="main">
        <div id="score"></div>
        <div id="score2"></div>
        <div id="playerOne">
            <div id="playerLeft"></div>
        </div>
        <div id="centerChanger">    <div id="BLOK">    </div></div>
        <div id="playerTwo">
            <div id="playerRight"></div>
        </div>

    </div>

    <script src="js/new.js"></script>
</body>
</html>